a,
a:hover,
a:focus
{
  color: #2C3E50;
  outline: none;
}

hr.star-light:after {
  background-color: #2C3E50;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}

header {
  background: #2C3E50;
}

section.success {
  background: #2C3E50;
  color: white;
}

.navbar-custom {
  background:  #18BC9C;
}

.navbar-custom .navbar-nav li a:hover {
  color: #A60000;
}

.glyphicon-arrow-up {
  color: #A60000;
}

#pageAct {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: olive;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;

}

.intro-header {
  background-color: #18BC9C;
}

#contact {
  background-color: #BADBD6;
}
