#message_erreur {
	border: solid 2px gray;
	width: 50%;
	margin: auto;
	padding: 5px;
	border-radius: 5px;

}

a,
a:active,
a.active {
  color: #2C3E50;
  outline: none;
}


a:hover {
	color: #A60000;
	text-decoration: none;
}

