#message_erreur {
	border: solid 2px gray;
	width: 50%;
	margin: auto;
	margin-top: 50px;
	padding: 5px;
	border-radius: 5px;

}

a
{
  color: #353959;
  outline: none;
  text-decoration: none;
}


a:hover {
	color: #794C72;
	text-decoration: none;
}

