.intro-header {
	background-color: #18BC9C;
}

#pageAct {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: olive;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;

}
